@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --fg: #000000;
  --accent: #3b82f6; /* Clean Blue */
}

.dark {
  --bg: #0a0a0a;
  --fg: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Inter", sans-serif;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
  -webkit-font-smoothing: antialiased;
}

/* Smooth, thin scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
